<div class="timeline-badge" ><img src="img/moods/{{mood}}.png" class="img-responsive mood-img" alt=""></div>
<div class="timeline-panel" style="background:white;">
	<div class="timeline-heading">
		<a href="/details?mood={{mood}}&id={{id}}">
			<h4 class="timeline-title">{{title}}</h4>
		</a>
	  <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> 11 hours ago via Twitter</small></p>
	</div>
	<div class="timeline-body">
		{{content}}
	</div>
</div>