<!doctype html>

<html>
<head>
	<title>Feed</title>	
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/freelancer.css" rel="stylesheet">

    <!-- Moodi CSS -->
    <link href="css/moodi.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">	
	<!-- this is a comment in HTML -->

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->        
</head>

<body id="page-top" class="index">
	<!-- Navigation -->
    {{> navigation}}

    <section id="feedSection">
        <div class="container">

        <a href="" class="add-post-btn" id="{{mood}}Temp" data-toggle="modal" data-target="#newPostModal" style="display:none;">
        <span class="fa-stack fa-3x">
            <i class="fa fa-circle fa-stack-2x icon-background"></i>
            <i class="fa fa-pencil fa-stack-1x"></i>
        </span>
        </a>

          <div class="page-header">
            <h1 id="timeline">Timeline</h1>
          </div>

          <ul class="timeline">
            {{#each feeds}}
                <li id= "timeline-feed{{id}}">
                    <div class="timeline-badge" ><img src="img/moods/{{mood}}.png" class="img-responsive mood-img" alt=""></div>
                    <div class="timeline-panel" style="background:white;">
                        <div class="timeline-heading">
                            <!-- <a href="/details?mood={{mood}}&id={{id}}"> -->
                                <h4 class="timeline-title">{{title}}</h4>
                            <!-- </a> -->
                          <p><small class="text-muted" id="time{{id}}"><i class="glyphicon glyphicon-time"></i></small></p>
                        </div>
                        <div class="timeline-body">
                            <div>{{{content}}}</div>
                        </div>
                    </div>
                </li>
                {{#if time}}
                    <script type="text/javascript">
                        var date = new Date({{time}}*1000);
                        console.log(date);

                        var year = date.getFullYear();
                        var month = date.getMonth();
                        var d = date.getDate();
                        // Hours part from the timestamp
                        var hours = date.getHours();
                        // Minutes part from the timestamp
                        var minutes = "0" + date.getMinutes();
                        // Seconds part from the timestamp
                        var seconds = "0" + date.getSeconds();

                        // Will display time in 10:30:23 format
                        var formattedTime = year+'-'+month+'-'+d+' '+hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);

                        var el = document.getElementById("time{{id}}");
                        el.innerHTML += ' ' + formattedTime + " by {{author}}";
                    </script>
                {{/if}}
                {{#unless left}}
                    <script type="text/javascript">
                        var el = document.getElementById("timeline-feed{{id}}");
                        console.log(el);
                        el.className += " timeline-inverted";    
                    </script>
                {{/unless}}
            {{/each}}
            
          </ul>
        </div>

    </section>

<!-- New Post Form -->
<div class="modal fade" id="newPostModal">
      <div class="modal-dialog login animated">
          <div class="modal-content">
             <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">New Post...</h4>
            </div>
            <div class="modal-body">  
                <div class="box">
                     <div class="content">
                        <div class="error"></div>
                        <div class="form loginBox">
                            <form name="newPostForm" accept-charset="UTF-8">
                                <h4>Title</h4>
                                <div class="form-group">
                                    <textarea class="form-control newPost-title" rows="1" style="resize: none;" name="title"></textarea>
                                </div>
                                <h4>Emoji Story:</h4>
                                <div class="form-control emoji-story"></div>
                                <h4>Story:</h4>
                                <div class="form-group">
                                    <textarea class="form-control text-story" rows="10" style="resize: none;" name="content"></textarea>
                                </div>
                                <input style="display: none;" name="mood" value="{{mood}}"></input>

                                <button type="button" class="btn btn-default" onClick="addPost()">Post</button>
                                <button type="button" class="btn btn-default" class="close" data-dismiss="modal" onClick="cancelPost()">Cancel</button>
                            </form>
                        </div>
                     </div>
                </div>
            </div>    
          </div>
      </div>
  </div>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="js/classie.js"></script>
    <script src="js/cbpAnimatedHeader.js"></script>

    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/freelancer.js"></script>

    <script src="js/moodi.js"></script>
</body>
</html>